* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf)
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#left-side {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 4rem;
    height: 100%;
}

#logo {
    margin-top: 33%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 450%;
    background-color: rgb(0,0,0, 0.5);
    font-family: odin;
}

img {
    width: 20%;
    height: 100%;
}

#left-side > p{
    color: lightgrey;
    font-size: 0.75rem;
    margin-bottom: 2%;
}

#left-side > p > a {
    color: lightgrey;
    font-size: 0.75rem;
}

#right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#right-side > div {
    flex: 1;
    
    padding-left: 5%;
    padding-top: 5%;
}

#top-right {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    gap: 10%;
    font-weight: 500;
}

#top-right > p {
    margin-bottom: 10%;
}

#middle-right {
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: #FAF9F6;
    box-shadow: 0 4px 3px -3px gray;
}

#middle-right > p {
    font-size: 1.25rem;
    font-weight: lighter;
}

form {
    display: flex;
    height: 100%;
    margin-bottom: 5%;
}

.form-column {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10%;
}

.form-column > div {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 300px;
}

label {
    font-size: .8rem;
    font-weight: 400;
}

input {
    border-radius: 4px;
    border: 0.5px solid lightgrey
}


input:focus {
    line-height: 1.5rem;
    border: 0.5px solid blue;
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 0.5px solid red;
}



#bottom-right {
    display: flex;
    flex-flow: column;
    gap: 10%;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 4px 2px -2px gray;
}

#bottom-right > p > a {
    color: black;
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
